{
  "extends": [
    "airbnb-typescript-prettier" 
  ],
  "rules": {
    // "no-alert": "warn",
    // "no-console": "warn",
    // "no-unused-vars": "warn",
    // "no-unused-expressions": "warn",
    // "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-explicit-any": "off",
    // "@typescript-eslint/explicit-module-boundary-types": "warn",
    // "react-hooks/exhaustive-deps": "warn",
    // "guard-for-in": "warn",
    "import/prefer-default-export": "off",
    "react/self-closing-comp": "off"
    // "jsx-a11y/control-has-associated-label": "off",
    // "no-restricted-syntax": "off",
    // "consistent-return": "off",
    // "no-shadow": "off"
  }
}
