{
  "extends": [
    "airbnb-typescript-prettier" 
  ],
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/self-closing-comp": "off",
    "no-shadow": "off"
  }
}
